function Battle.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 6
push argument 4
pop this 7
push pointer 0
return
function Battle.drawSwitchMenu 3
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 152
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 19
push constant 2
call Output.moveCursor 2
pop temp 0
call Strings.printChoisirPokemon 0
pop temp 0
push this 3
call Team.getCount 1
pop local 1
push constant 0
pop local 0
label LABEL_0
push local 0
push local 1
lt
not
if-goto LABEL_1
push this 3
push local 0
call Team.getPokemon 2
pop local 2
push local 2
push this 0
eq
not
not
if-goto LABEL_2
push constant 20
push local 0
add
push constant 2
call Output.moveCursor 2
pop temp 0
push local 0
push this 6
eq
not
if-goto LABEL_4
push constant 62
call Output.printChar 1
pop temp 0
goto LABEL_5
label LABEL_4
push constant 32
call Output.printChar 1
pop temp 0
label LABEL_5
push local 0
push constant 1
add
call Output.printInt 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push local 2
call Pokemon.getType 1
call Strings.printPokemonName 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
call Strings.printHP 0
pop temp 0
push local 2
call Pokemon.getHp 1
call Output.printInt 1
pop temp 0
push constant 47
call Output.printChar 1
pop temp 0
push local 2
call Pokemon.getMaxHp 1
call Output.printInt 1
pop temp 0
push local 2
call Pokemon.isFainted 1
not
if-goto LABEL_6
push constant 32
call Output.printChar 1
pop temp 0
push constant 91
call Output.printChar 1
pop temp 0
push constant 75
call Output.printChar 1
pop temp 0
push constant 79
call Output.printChar 1
pop temp 0
push constant 93
call Output.printChar 1
pop temp 0
goto LABEL_7
label LABEL_6
label LABEL_7
goto LABEL_3
label LABEL_2
label LABEL_3
push local 0
push constant 1
add
pop local 0
goto LABEL_0
label LABEL_1
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
call Strings.printRetour 0
pop temp 0
push constant 0
return
function Battle.isInSwitchMenu 0
push argument 0
pop pointer 0
push this 5
return
function Battle.setInSwitchMenu 0
push argument 0
pop pointer 0
push argument 1
pop this 5
push constant 0
return
function Battle.getSwitchSelectedIndex 0
push argument 0
pop pointer 0
push this 6
return
function Battle.switchPokemon 3
push argument 0
pop pointer 0
push this 3
push argument 1
call Team.getPokemon 2
pop local 0
push local 0
call Pokemon.isFainted 1
not
if-goto LABEL_8
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printPokemonKO 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
return
goto LABEL_9
label LABEL_8
label LABEL_9
push local 0
push this 0
eq
not
if-goto LABEL_10
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printDejaActif 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
return
goto LABEL_11
label LABEL_10
label LABEL_11
push constant 0
pop this 5
push this 3
push argument 1
call Team.setActive 2
pop temp 0
push local 0
pop this 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printReviens 0
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push this 1
push constant 0
push this 1
call Pokemon.getMoveCount 1
push constant 1
sub
call Random.randRange 2
call Pokemon.getMove 2
pop local 2
push pointer 0
push this 1
push this 0
push local 2
call Battle.calculateDamage 4
pop local 1
push this 0
push local 1
call Pokemon.takeDamage 2
pop temp 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printEnnemiInflige 0
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
call Strings.printDegats 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push this 0
call Pokemon.isFainted 1
not
if-goto LABEL_12
push constant 2
return
goto LABEL_13
label LABEL_12
label LABEL_13
push constant 0
return
function Battle.moveSwitchSelection 1
push argument 0
pop pointer 0
push this 3
call Team.getCount 1
pop local 0
push this 6
push argument 1
add
pop this 6
push this 6
push constant 0
lt
not
if-goto LABEL_14
push constant 0
pop this 6
goto LABEL_15
label LABEL_14
label LABEL_15
push this 6
push local 0
push constant 1
sub
gt
not
if-goto LABEL_16
push local 0
push constant 1
sub
pop this 6
goto LABEL_17
label LABEL_16
label LABEL_17
push constant 0
return
function Battle.draw 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
push constant 370
push constant 50
call Battle.drawEnemyPokemon 3
pop temp 0
push pointer 0
push constant 80
push constant 120
call Battle.drawPlayerPokemon 3
pop temp 0
push pointer 0
call Battle.drawBattleInfo 1
pop temp 0
push constant 0
return
function Battle.drawEnemyPokemon 1
push argument 0
pop pointer 0
push this 1
call Pokemon.getType 1
pop local 0
push pointer 0
push argument 1
push argument 2
push local 0
push constant 0
call Battle.drawPokemonSprite 5
pop temp 0
push constant 1
push constant 40
call Output.moveCursor 2
pop temp 0
push pointer 0
push local 0
call Battle.printPokemonName 2
pop temp 0
call Strings.printNv 0
pop temp 0
push this 1
call Pokemon.getLevel 1
call Output.printInt 1
pop temp 0
push pointer 0
push argument 1
push constant 30
sub
push argument 2
push constant 50
add
push this 1
call Pokemon.getHp 1
push this 1
call Pokemon.getMaxHp 1
call Battle.drawHpBar 5
pop temp 0
push constant 0
return
function Battle.drawPlayerPokemon 1
push argument 0
pop pointer 0
push this 0
call Pokemon.getType 1
pop local 0
push pointer 0
push argument 1
push argument 2
push local 0
push constant 0
not
call Battle.drawPokemonSprite 5
pop temp 0
push constant 14
push constant 1
call Output.moveCursor 2
pop temp 0
push pointer 0
push local 0
call Battle.printPokemonName 2
pop temp 0
call Strings.printNv 0
pop temp 0
push this 0
call Pokemon.getLevel 1
call Output.printInt 1
pop temp 0
push pointer 0
push argument 1
push constant 80
add
push argument 2
push constant 20
add
push this 0
call Pokemon.getHp 1
push this 0
call Pokemon.getMaxHp 1
call Battle.drawHpBar 5
pop temp 0
push constant 0
return
function Battle.drawPokemonSprite 0
push argument 0
pop pointer 0
push argument 1
push argument 2
push argument 3
call Sprites.drawPokemon 3
pop temp 0
push constant 0
return
function Battle.drawHpBar 2
push argument 0
pop pointer 0
push constant 60
pop local 0
push argument 3
push local 0
call Math.multiply 2
push argument 4
call Math.divide 2
pop local 1
push argument 2
push constant 11
call Math.divide 2
push argument 1
push constant 8
call Math.divide 2
call Output.moveCursor 2
pop temp 0
call Strings.printHP 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 20
add
push argument 2
push argument 1
push constant 20
add
push local 0
add
push argument 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 21
add
push argument 2
push constant 1
add
push argument 1
push constant 19
add
push local 0
add
push argument 2
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push constant 0
gt
not
if-goto LABEL_18
push argument 1
push constant 21
add
push argument 2
push constant 1
add
push argument 1
push constant 20
add
push local 1
add
push argument 2
push constant 3
add
call Screen.drawRectangle 4
pop temp 0
goto LABEL_19
label LABEL_18
label LABEL_19
push constant 0
return
function Battle.drawBattleInfo 3
push argument 0
pop pointer 0
push constant 19
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printChoisissezAttaque 0
pop temp 0
push this 0
call Pokemon.getMoveCount 1
pop local 1
push constant 0
pop local 0
label LABEL_20
push local 0
push local 1
lt
not
if-goto LABEL_21
push this 0
push local 0
call Pokemon.getMove 2
pop local 2
push constant 20
push local 0
add
push constant 2
call Output.moveCursor 2
pop temp 0
push local 0
push constant 1
add
call Output.printInt 1
pop temp 0
push constant 46
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push pointer 0
push local 2
call Move.getId 1
call Battle.printMoveName 2
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
push constant 40
call Output.printChar 1
pop temp 0
push local 2
call Move.getPower 1
call Output.printInt 1
pop temp 0
push constant 41
call Output.printChar 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto LABEL_20
label LABEL_21
push constant 20
push constant 35
call Output.moveCursor 2
pop temp 0
call Strings.printCapturer 0
pop temp 0
push constant 21
push constant 35
call Output.moveCursor 2
pop temp 0
push constant 40
call Output.printChar 1
pop temp 0
push constant 73
call Output.printChar 1
pop temp 0
push constant 41
call Output.printChar 1
pop temp 0
push constant 32
call Output.printChar 1
pop temp 0
call Strings.printInventaire 0
pop temp 0
push constant 22
push constant 35
call Output.moveCursor 2
pop temp 0
call Strings.printFuir 0
pop temp 0
push constant 0
return
function Battle.printPokemonName 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
not
if-goto LABEL_22
call Strings.printSalameche 0
pop temp 0
goto LABEL_23
label LABEL_22
label LABEL_23
push argument 1
push constant 1
eq
not
if-goto LABEL_24
call Strings.printCarapuce 0
pop temp 0
goto LABEL_25
label LABEL_24
label LABEL_25
push argument 1
push constant 2
eq
not
if-goto LABEL_26
call Strings.printBulbizarre 0
pop temp 0
goto LABEL_27
label LABEL_26
label LABEL_27
push argument 1
push constant 3
eq
not
if-goto LABEL_28
call Strings.printPikachu 0
pop temp 0
goto LABEL_29
label LABEL_28
label LABEL_29
push argument 1
push constant 4
eq
not
if-goto LABEL_30
call Strings.printRoucool 0
pop temp 0
goto LABEL_31
label LABEL_30
label LABEL_31
push argument 1
push constant 5
eq
not
if-goto LABEL_32
call Strings.printAbra 0
pop temp 0
goto LABEL_33
label LABEL_32
label LABEL_33
push argument 1
push constant 6
eq
not
if-goto LABEL_34
call Strings.printRattata 0
pop temp 0
goto LABEL_35
label LABEL_34
label LABEL_35
push argument 1
push constant 7
eq
not
if-goto LABEL_36
call Strings.printMystherbe 0
pop temp 0
goto LABEL_37
label LABEL_36
label LABEL_37
push argument 1
push constant 8
eq
not
if-goto LABEL_38
call Strings.printSabelette 0
pop temp 0
goto LABEL_39
label LABEL_38
label LABEL_39
push argument 1
push constant 9
eq
not
if-goto LABEL_40
call Strings.printStari 0
pop temp 0
goto LABEL_41
label LABEL_40
label LABEL_41
push constant 0
return
function Battle.printMoveName 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
not
if-goto LABEL_42
call Strings.printGriffe 0
pop temp 0
goto LABEL_43
label LABEL_42
label LABEL_43
push argument 1
push constant 1
eq
not
if-goto LABEL_44
call Strings.printFlammeche 0
pop temp 0
goto LABEL_45
label LABEL_44
label LABEL_45
push argument 1
push constant 2
eq
not
if-goto LABEL_46
call Strings.printCharge 0
pop temp 0
goto LABEL_47
label LABEL_46
label LABEL_47
push argument 1
push constant 3
eq
not
if-goto LABEL_48
call Strings.printPistoletO 0
pop temp 0
goto LABEL_49
label LABEL_48
label LABEL_49
push argument 1
push constant 4
eq
not
if-goto LABEL_50
call Strings.printCharge 0
pop temp 0
goto LABEL_51
label LABEL_50
label LABEL_51
push argument 1
push constant 5
eq
not
if-goto LABEL_52
call Strings.printFouetLianes 0
pop temp 0
goto LABEL_53
label LABEL_52
label LABEL_53
push argument 1
push constant 6
eq
not
if-goto LABEL_54
call Strings.printViveAttaque 0
pop temp 0
goto LABEL_55
label LABEL_54
label LABEL_55
push argument 1
push constant 7
eq
not
if-goto LABEL_56
call Strings.printEclair 0
pop temp 0
goto LABEL_57
label LABEL_56
label LABEL_57
push argument 1
push constant 8
eq
not
if-goto LABEL_58
call Strings.printPicpic 0
pop temp 0
goto LABEL_59
label LABEL_58
label LABEL_59
push argument 1
push constant 9
eq
not
if-goto LABEL_60
call Strings.printCruAile 0
pop temp 0
goto LABEL_61
label LABEL_60
label LABEL_61
push argument 1
push constant 10
eq
not
if-goto LABEL_62
call Strings.printTeleport 0
pop temp 0
goto LABEL_63
label LABEL_62
label LABEL_63
push argument 1
push constant 11
eq
not
if-goto LABEL_64
call Strings.printChocMental 0
pop temp 0
goto LABEL_65
label LABEL_64
label LABEL_65
push argument 1
push constant 12
eq
not
if-goto LABEL_66
call Strings.printCrocDeMort 0
pop temp 0
goto LABEL_67
label LABEL_66
label LABEL_67
push argument 1
push constant 13
eq
not
if-goto LABEL_68
call Strings.printPoudreDodo 0
pop temp 0
goto LABEL_69
label LABEL_68
label LABEL_69
push argument 1
push constant 14
eq
not
if-goto LABEL_70
call Strings.printSeisme 0
pop temp 0
goto LABEL_71
label LABEL_70
label LABEL_71
push argument 1
push constant 15
eq
not
if-goto LABEL_72
call Strings.printHydrocanon 0
pop temp 0
goto LABEL_73
label LABEL_72
label LABEL_73
push constant 0
return
function Battle.attack 3
push argument 0
pop pointer 0
push argument 1
push this 0
call Pokemon.getMoveCount 1
push constant 1
sub
gt
not
if-goto LABEL_74
push constant 0
return
goto LABEL_75
label LABEL_74
label LABEL_75
push this 0
push argument 1
call Pokemon.getMove 2
pop local 0
push pointer 0
push this 0
push this 1
push local 0
call Battle.calculateDamage 4
pop local 1
push this 1
push local 1
call Pokemon.takeDamage 2
pop temp 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printVousInfligez 0
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
call Strings.printDegats 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push this 1
call Pokemon.isFainted 1
not
if-goto LABEL_76
push constant 1
return
goto LABEL_77
label LABEL_76
label LABEL_77
push this 1
push constant 0
push this 1
call Pokemon.getMoveCount 1
push constant 1
sub
call Random.randRange 2
call Pokemon.getMove 2
pop local 0
push pointer 0
push this 1
push this 0
push local 0
call Battle.calculateDamage 4
pop local 2
push this 0
push local 2
call Pokemon.takeDamage 2
pop temp 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printEnnemiInflige 0
pop temp 0
push local 2
call Output.printInt 1
pop temp 0
call Strings.printDegats 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push this 0
call Pokemon.isFainted 1
not
if-goto LABEL_78
push constant 2
return
goto LABEL_79
label LABEL_78
label LABEL_79
push constant 0
return
function Battle.attemptCapture 5
push argument 0
pop pointer 0
push this 7
push constant 0
call Inventory.hasItem 2
not
not
if-goto LABEL_80
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printPasAssezObjets 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push constant 0
return
goto LABEL_81
label LABEL_80
label LABEL_81
push this 1
call Pokemon.getHp 1
push constant 100
call Math.multiply 2
push this 1
call Pokemon.getMaxHp 1
call Math.divide 2
pop local 1
push constant 100
push local 1
sub
pop local 0
push this 2
push this 1
call Pokemon.getType 1
call Pokedex.isCaptured 2
not
if-goto LABEL_82
push local 0
push constant 20
add
pop local 0
goto LABEL_83
label LABEL_82
label LABEL_83
push constant 0
push constant 100
call Random.randRange 2
pop local 2
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printLancerPokeball 0
pop temp 0
push constant 0
pop local 4
label LABEL_84
push local 4
push constant 3
lt
not
if-goto LABEL_85
push constant 100
push constant 32
call Math.multiply 2
push constant 15
add
pop local 3
push local 3
call Sprites.drawPokeball 1
pop temp 0
push constant 300
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 240
push constant 100
push constant 255
push constant 107
call Screen.drawRectangle 4
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push local 4
push constant 1
add
pop local 4
goto LABEL_84
label LABEL_85
push local 2
push local 0
lt
not
if-goto LABEL_86
push this 7
push constant 0
call Inventory.useItem 2
pop temp 0
push this 2
push this 1
call Pokemon.getType 1
call Pokedex.capture 2
pop temp 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printPokemonCapture 0
pop temp 0
push constant 2000
call Sys.wait 1
pop temp 0
push this 3
push this 1
call Team.addPokemon 2
pop temp 0
push constant 3
return
goto LABEL_87
label LABEL_86
push this 7
push constant 0
call Inventory.useItem 2
pop temp 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printPokemonEchappe 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push pointer 0
call Battle.doEnemyAttack 1
return
label LABEL_87
function Battle.doEnemyAttack 2
push argument 0
pop pointer 0
push this 1
push constant 0
push this 1
call Pokemon.getMoveCount 1
push constant 1
sub
call Random.randRange 2
call Pokemon.getMove 2
pop local 0
push pointer 0
push this 1
push this 0
push local 0
call Battle.calculateDamage 4
pop local 1
push this 0
push local 1
call Pokemon.takeDamage 2
pop temp 0
push constant 18
push constant 0
call Output.moveCursor 2
pop temp 0
call Strings.printEnnemiInflige 0
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
call Strings.printDegats 0
pop temp 0
push constant 1500
call Sys.wait 1
pop temp 0
push this 0
call Pokemon.isFainted 1
not
if-goto LABEL_88
push constant 2
return
goto LABEL_89
label LABEL_88
label LABEL_89
push constant 0
return
function Battle.calculateDamage 2
push argument 0
pop pointer 0
push argument 1
call Pokemon.getAttack 1
push argument 3
call Move.getPower 1
call Math.multiply 2
push argument 2
call Pokemon.getDefense 1
call Math.divide 2
push constant 10
call Math.divide 2
pop local 0
push pointer 0
push argument 3
call Move.getType 1
push argument 2
call Pokemon.getType 1
call Battle.getEffectiveness 3
pop local 1
push local 0
push local 1
call Math.multiply 2
push constant 10
call Math.divide 2
pop local 0
push local 0
push constant 85
push constant 0
push constant 15
call Random.randRange 2
add
call Math.multiply 2
push constant 100
call Math.divide 2
pop local 0
push local 0
push constant 1
lt
not
if-goto LABEL_90
push constant 1
pop local 0
goto LABEL_91
label LABEL_90
label LABEL_91
push local 0
return
function Battle.getEffectiveness 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
push argument 2
push constant 2
eq
and
not
if-goto LABEL_92
push constant 20
return
goto LABEL_93
label LABEL_92
label LABEL_93
push argument 1
push constant 2
eq
push argument 2
push constant 0
eq
and
not
if-goto LABEL_94
push constant 20
return
goto LABEL_95
label LABEL_94
label LABEL_95
push argument 1
push constant 3
eq
push argument 2
push constant 1
eq
and
not
if-goto LABEL_96
push constant 20
return
goto LABEL_97
label LABEL_96
label LABEL_97
push argument 1
push constant 4
eq
push argument 2
push constant 1
eq
and
not
if-goto LABEL_98
push constant 20
return
goto LABEL_99
label LABEL_98
label LABEL_99
push argument 1
push constant 4
eq
push argument 2
push constant 4
eq
and
not
if-goto LABEL_100
push constant 20
return
goto LABEL_101
label LABEL_100
label LABEL_101
push argument 1
push constant 1
eq
push argument 2
push constant 1
eq
and
not
if-goto LABEL_102
push constant 5
return
goto LABEL_103
label LABEL_102
label LABEL_103
push argument 1
push constant 2
eq
push argument 2
push constant 2
eq
and
not
if-goto LABEL_104
push constant 5
return
goto LABEL_105
label LABEL_104
label LABEL_105
push argument 1
push constant 3
eq
push argument 2
push constant 0
eq
and
not
if-goto LABEL_106
push constant 5
return
goto LABEL_107
label LABEL_106
label LABEL_107
push argument 1
push constant 4
eq
push argument 2
push constant 2
eq
and
not
if-goto LABEL_108
push constant 5
return
goto LABEL_109
label LABEL_108
label LABEL_109
push constant 10
return
function Battle.dispose 0
push argument 0
pop pointer 0
push this 1
call Pokemon.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Battle.disposeWithoutEnemy 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return