function Map.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 4
push constant 32
pop this 1
push constant 16
pop this 2
push constant 16
pop this 3
push this 1
push this 2
call Math.multiply 2
call Array.new 1
pop this 0
push this 4
push constant 0
eq
not
if-goto LABEL_0
push pointer 0
call Map.initMap0 1
pop temp 0
goto LABEL_1
label LABEL_0
label LABEL_1
push this 4
push constant 1
eq
not
if-goto LABEL_2
push pointer 0
call Map.initMap1 1
pop temp 0
goto LABEL_3
label LABEL_2
label LABEL_3
push this 4
push constant 2
eq
not
if-goto LABEL_4
push pointer 0
call Map.initMap2 1
pop temp 0
goto LABEL_5
label LABEL_4
label LABEL_5
push this 4
push constant 4
eq
not
if-goto LABEL_6
push pointer 0
call Map.initMap4 1
pop temp 0
goto LABEL_7
label LABEL_6
label LABEL_7
push this 4
push constant 3
eq
not
if-goto LABEL_8
push pointer 0
call Map.initMap3 1
pop temp 0
goto LABEL_9
label LABEL_8
label LABEL_9
push pointer 0
return
function Map.initMap0 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 50
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 1
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 2
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 5
push constant 5
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 6
push constant 6
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 4
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 5
push constant 53
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 3
push constant 0
push constant 0
push constant 6
push constant 6
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 5
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 6
push constant 3
push constant 0
push constant 5
push constant 5
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 7
push constant 3
push constant 0
push constant 5
push constant 5
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 8
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 9
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 10
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 2
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 11
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 4
push constant 4
push constant 4
push constant 0
push constant 0
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 12
push constant 3
push constant 3
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 3
push constant 1
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 1
push constant 0
push constant 0
push constant 0
push constant 4
push constant 55
push constant 4
push constant 0
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 13
push constant 3
push constant 3
push constant 3
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 3
push constant 1
push constant 1
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 14
push constant 3
push constant 3
push constant 3
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 54
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 15
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push constant 0
return
function Map.initMap1 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 1
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 2
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 4
push constant 4
push constant 4
push constant 0
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 3
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 4
push constant 55
push constant 4
push constant 0
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 4
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 54
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 5
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 6
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 7
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 8
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 9
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 3
push constant 3
push constant 3
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 10
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 3
push constant 3
push constant 3
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 11
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 3
push constant 3
push constant 3
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 12
push constant 2
push constant 2
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 13
push constant 51
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 14
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 15
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 50
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
call Map.setRow 34
pop temp 0
push constant 0
return
function Map.initMap3 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 1
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 2
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 3
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 4
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 5
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 6
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 11
push constant 12
push constant 10
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 8
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 9
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 10
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 11
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 12
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 13
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 14
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 53
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 15
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push constant 0
return
function Map.initMap2 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 1
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 2
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 2
push constant 2
push constant 2
push constant 2
push constant 16
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 17
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 1
push constant 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
push constant 2
push constant 2
push constant 16
push constant 2
push constant 2
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 4
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 0
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 5
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 17
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 6
push constant 3
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 0
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 2
push constant 2
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 7
push constant 3
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 1
push constant 1
push constant 1
push constant 3
push constant 1
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 1
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 2
call Map.setRow 34
pop temp 0
push pointer 0
push constant 8
push constant 3
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 9
push constant 3
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 3
push constant 3
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 1
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push pointer 0
push constant 10
push constant 3
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 0
call Map.setRow 34
pop temp 0
push pointer 0
push constant 11
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
call Map.setRow 34
pop temp 0
push pointer 0
push constant 12
push constant 3
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
call Map.setRow 34
pop temp 0
push pointer 0
push constant 13
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 3
push constant 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
call Map.setRow 34
pop temp 0
push pointer 0
push constant 14
push constant 2
push constant 2
push constant 2
push constant 2
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 3
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
push constant 1
call Map.setRow 34
pop temp 0
push pointer 0
push constant 15
push constant 2
push constant 2
push constant 2
push constant 2
push constant 2
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
push constant 3
call Map.setRow 34
pop temp 0
push constant 0
return
function Map.initMap4 0
push argument 0
pop pointer 0
push pointer 0
push constant 0
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 1
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 2
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 3
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 9
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 4
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 8
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 5
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 6
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 7
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 19
push constant 19
push constant 19
push constant 19
push constant 19
push constant 18
push constant 19
push constant 19
push constant 19
push constant 19
push constant 19
push constant 18
push constant 19
push constant 19
push constant 19
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 8
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 9
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 10
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 11
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 12
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 18
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 13
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 54
push constant 55
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 14
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push pointer 0
push constant 15
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
push constant 16
call Map.setRow 34
pop temp 0
push constant 0
return
function Map.setRow 1
push argument 0
pop pointer 0
push argument 1
push this 1
call Math.multiply 2
pop local 0
push this 0
push local 0
push constant 0
add
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 1
add
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 2
add
add
push argument 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 3
add
add
push argument 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 4
add
add
push argument 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 5
add
add
push argument 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 6
add
add
push argument 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 7
add
add
push argument 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 8
add
add
push argument 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 9
add
add
push argument 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 10
add
add
push argument 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 11
add
add
push argument 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 12
add
add
push argument 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 13
add
add
push argument 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 14
add
add
push argument 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 15
add
add
push argument 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 16
add
add
push argument 18
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 17
add
add
push argument 19
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 18
add
add
push argument 20
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 19
add
add
push argument 21
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 20
add
add
push argument 22
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 21
add
add
push argument 23
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 22
add
add
push argument 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 23
add
add
push argument 25
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 24
add
add
push argument 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 25
add
add
push argument 27
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 26
add
add
push argument 28
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 27
add
add
push argument 29
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 28
add
add
push argument 30
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 29
add
add
push argument 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 30
add
add
push argument 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push local 0
push constant 31
add
add
push argument 33
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Map.getTile 0
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
push argument 1
push this 1
push constant 1
sub
gt
or
push argument 2
push constant 0
lt
or
push argument 2
push this 2
push constant 1
sub
gt
or
not
if-goto LABEL_10
push constant 3
return
goto LABEL_11
label LABEL_10
label LABEL_11
push this 0
push argument 2
push this 1
call Math.multiply 2
push argument 1
add
add
pop pointer 1
push that 0
return
function Map.findPortal 4
push argument 0
pop pointer 0
push constant 2
call Array.new 1
pop local 3
push constant 0
pop local 1
label LABEL_12
push local 1
push this 2
lt
not
if-goto LABEL_13
push constant 0
pop local 0
label LABEL_14
push local 0
push this 1
lt
not
if-goto LABEL_15
push this 0
push local 1
push this 1
call Math.multiply 2
push local 0
add
add
pop pointer 1
push that 0
pop local 2
push local 2
push argument 1
eq
not
if-goto LABEL_16
push local 3
push constant 0
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
return
goto LABEL_17
label LABEL_16
label LABEL_17
push local 0
push constant 1
add
pop local 0
goto LABEL_14
label LABEL_15
push local 1
push constant 1
add
pop local 1
goto LABEL_12
label LABEL_13
push local 3
push constant 0
add
push constant 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
push constant 1
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 3
return
function Map.draw 5
push argument 0
pop pointer 0
push constant 0
pop local 1
label LABEL_18
push local 1
push this 2
lt
not
if-goto LABEL_19
push constant 0
pop local 0
label LABEL_20
push local 0
push this 1
lt
not
if-goto LABEL_21
push this 0
push local 1
push this 1
call Math.multiply 2
push local 0
add
add
pop pointer 1
push that 0
pop local 2
push local 0
push this 3
call Math.multiply 2
pop local 3
push local 1
push this 3
call Math.multiply 2
pop local 4
push pointer 0
push local 3
push local 4
push local 2
push local 0
push local 1
call Map.drawTile 6
pop temp 0
push local 0
push constant 1
add
pop local 0
goto LABEL_20
label LABEL_21
push local 1
push constant 1
add
pop local 1
goto LABEL_18
label LABEL_19
push constant 0
return
function Map.drawTile 1
push argument 0
pop pointer 0
push argument 2
push constant 32
call Math.multiply 2
push argument 1
push constant 16
call Math.divide 2
add
pop local 0
push argument 3
push constant 1
eq
not
if-goto LABEL_22
push local 0
call Sprites.drawGrass 1
pop temp 0
push constant 0
return
goto LABEL_23
label LABEL_22
label LABEL_23
push argument 3
push constant 0
eq
not
if-goto LABEL_24
push local 0
call Sprites.drawChemin 1
pop temp 0
push constant 0
return
goto LABEL_25
label LABEL_24
label LABEL_25
push argument 3
push constant 2
eq
not
if-goto LABEL_26
push local 0
call Sprites.drawWater 1
pop temp 0
push constant 0
return
goto LABEL_27
label LABEL_26
label LABEL_27
push argument 3
push constant 3
eq
not
if-goto LABEL_28
push local 0
call Sprites.drawTree 1
pop temp 0
push constant 0
return
goto LABEL_29
label LABEL_28
label LABEL_29
push argument 3
push constant 7
eq
not
if-goto LABEL_30
push local 0
call Sprites.drawParquet 1
pop temp 0
push constant 0
return
goto LABEL_31
label LABEL_30
label LABEL_31
push argument 3
push constant 8
eq
not
if-goto LABEL_32
push local 0
call Sprites.drawWall1 1
pop temp 0
push constant 0
return
goto LABEL_33
label LABEL_32
label LABEL_33
push argument 3
push constant 9
eq
not
if-goto LABEL_34
push local 0
call Sprites.drawWall2 1
pop temp 0
push constant 0
return
goto LABEL_35
label LABEL_34
label LABEL_35
push argument 3
push constant 10
eq
not
if-goto LABEL_36
push local 0
call Sprites.drawtable_pokeball_droite 1
pop temp 0
push constant 0
return
goto LABEL_37
label LABEL_36
label LABEL_37
push argument 3
push constant 11
eq
not
if-goto LABEL_38
push local 0
call Sprites.drawtable_pokeball_gauche 1
pop temp 0
push constant 0
return
goto LABEL_39
label LABEL_38
label LABEL_39
push argument 3
push constant 12
eq
not
if-goto LABEL_40
push local 0
call Sprites.drawtable_pokeball_milieu 1
pop temp 0
push constant 0
return
goto LABEL_41
label LABEL_40
label LABEL_41
push argument 3
push constant 13
eq
not
if-goto LABEL_42
push local 0
call Sprites.drawWall3 1
pop temp 0
push constant 0
return
goto LABEL_43
label LABEL_42
label LABEL_43
push argument 3
push constant 14
eq
not
if-goto LABEL_44
push local 0
call Sprites.drawWall4 1
pop temp 0
push constant 0
return
goto LABEL_45
label LABEL_44
label LABEL_45
push argument 3
push constant 15
eq
not
if-goto LABEL_46
push local 0
call Sprites.drawWall5 1
pop temp 0
push constant 0
return
goto LABEL_47
label LABEL_46
label LABEL_47
push argument 3
push constant 16
eq
not
if-goto LABEL_48
push local 0
call Sprites.drawvoid 1
pop temp 0
push constant 0
return
goto LABEL_49
label LABEL_48
label LABEL_49
push argument 3
push constant 17
eq
not
if-goto LABEL_50
push local 0
call Sprites.drawpokeballsauvage 1
pop temp 0
push constant 0
return
goto LABEL_51
label LABEL_50
label LABEL_51
push argument 3
push constant 18
eq
not
if-goto LABEL_52
push local 0
call Sprites.drawCarrelage 1
pop temp 0
push constant 0
return
goto LABEL_53
label LABEL_52
label LABEL_53
push argument 3
push constant 19
eq
not
if-goto LABEL_54
push local 0
call Sprites.drawlongburreaux 1
pop temp 0
push constant 0
return
goto LABEL_55
label LABEL_54
label LABEL_55
push argument 3
push constant 5
eq
not
if-goto LABEL_56
push argument 4
push constant 2
eq
push argument 5
push constant 6
eq
and
not
if-goto LABEL_58
push local 0
call Sprites.drawMaison1 1
pop temp 0
goto LABEL_59
label LABEL_58
label LABEL_59
push argument 4
push constant 7
eq
push argument 5
push constant 3
eq
and
not
if-goto LABEL_60
push local 0
call Sprites.drawMaison1 1
pop temp 0
goto LABEL_61
label LABEL_60
label LABEL_61
push constant 0
return
goto LABEL_57
label LABEL_56
label LABEL_57
push argument 3
push constant 4
eq
not
if-goto LABEL_62
push argument 4
push constant 25
eq
push argument 5
push constant 11
eq
and
not
if-goto LABEL_64
push local 0
call Sprites.drawPokeCenter 1
pop temp 0
goto LABEL_65
label LABEL_64
label LABEL_65
push constant 0
return
goto LABEL_63
label LABEL_62
label LABEL_63
push argument 3
push constant 6
eq
not
if-goto LABEL_66
push argument 4
push constant 23
eq
push argument 5
push constant 3
eq
and
not
if-goto LABEL_68
push local 0
call Sprites.drawMaisons2 1
pop temp 0
goto LABEL_69
label LABEL_68
label LABEL_69
push constant 0
return
goto LABEL_67
label LABEL_66
label LABEL_67
push argument 3
push constant 49
gt
not
if-goto LABEL_70
push argument 3
push constant 55
eq
not
not
if-goto LABEL_72
push local 0
call Sprites.drawChemin 1
pop temp 0
goto LABEL_73
label LABEL_72
label LABEL_73
push argument 3
push constant 53
eq
not
not
if-goto LABEL_74
push local 0
call Sprites.drawChemin 1
pop temp 0
goto LABEL_75
label LABEL_74
label LABEL_75
push constant 0
return
goto LABEL_71
label LABEL_70
label LABEL_71
push constant 0
return
function Map.redrawTile 3
push argument 0
pop pointer 0
push pointer 0
push argument 1
push argument 2
call Map.getTile 3
pop local 0
push argument 1
push this 3
call Math.multiply 2
pop local 1
push argument 2
push this 3
call Math.multiply 2
pop local 2
push pointer 0
push local 1
push local 2
push local 0
push argument 1
push argument 2
call Map.drawTile 6
pop temp 0
push constant 0
return
function Map.dispose 0
push argument 0
pop pointer 0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return