function Pokemon.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 4
call Array.new 1
pop this 6
push constant 0
pop this 7
push pointer 0
call Pokemon.initStats 1
pop temp 0
push pointer 0
call Pokemon.initMoves 1
pop temp 0
push pointer 0
return
function Pokemon.initStats 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
not
if-goto LABEL_0
push constant 39
push this 1
add
pop this 3
push constant 52
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 43
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_1
label LABEL_0
label LABEL_1
push this 0
push constant 1
eq
not
if-goto LABEL_2
push constant 44
push this 1
add
pop this 3
push constant 48
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 65
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_3
label LABEL_2
label LABEL_3
push this 0
push constant 2
eq
not
if-goto LABEL_4
push constant 45
push this 1
add
pop this 3
push constant 49
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 49
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_5
label LABEL_4
label LABEL_5
push this 0
push constant 3
eq
not
if-goto LABEL_6
push constant 35
push this 1
add
pop this 3
push constant 55
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 40
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_7
label LABEL_6
label LABEL_7
push this 0
push constant 4
eq
not
if-goto LABEL_8
push constant 40
push this 1
add
pop this 3
push constant 45
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 40
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_9
label LABEL_8
label LABEL_9
push this 0
push constant 5
eq
not
if-goto LABEL_10
push constant 25
push this 1
add
pop this 3
push constant 20
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 15
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_11
label LABEL_10
label LABEL_11
push this 0
push constant 6
eq
not
if-goto LABEL_12
push constant 30
push this 1
add
pop this 3
push constant 56
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 35
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_13
label LABEL_12
label LABEL_13
push this 0
push constant 7
eq
not
if-goto LABEL_14
push constant 45
push this 1
add
pop this 3
push constant 50
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 55
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_15
label LABEL_14
label LABEL_15
push this 0
push constant 8
eq
not
if-goto LABEL_16
push constant 50
push this 1
add
pop this 3
push constant 75
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 85
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_17
label LABEL_16
label LABEL_17
push this 0
push constant 9
eq
not
if-goto LABEL_18
push constant 30
push this 1
add
pop this 3
push constant 45
push this 1
push constant 2
call Math.divide 2
add
pop this 4
push constant 55
push this 1
push constant 2
call Math.divide 2
add
pop this 5
goto LABEL_19
label LABEL_18
label LABEL_19
push this 3
pop this 2
push constant 0
return
function Pokemon.initMoves 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
not
if-goto LABEL_20
push this 6
push constant 0
add
push constant 0
push constant 40
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 1
push constant 40
push constant 1
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_21
label LABEL_20
label LABEL_21
push this 0
push constant 1
eq
not
if-goto LABEL_22
push this 6
push constant 0
add
push constant 2
push constant 35
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 3
push constant 40
push constant 2
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_23
label LABEL_22
label LABEL_23
push this 0
push constant 2
eq
not
if-goto LABEL_24
push this 6
push constant 0
add
push constant 4
push constant 35
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 5
push constant 45
push constant 3
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_25
label LABEL_24
label LABEL_25
push this 0
push constant 3
eq
not
if-goto LABEL_26
push this 6
push constant 0
add
push constant 6
push constant 40
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 7
push constant 40
push constant 4
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_27
label LABEL_26
label LABEL_27
push this 0
push constant 4
eq
not
if-goto LABEL_28
push this 6
push constant 0
add
push constant 8
push constant 35
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 9
push constant 60
push constant 5
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_29
label LABEL_28
label LABEL_29
push this 0
push constant 5
eq
not
if-goto LABEL_30
push this 6
push constant 0
add
push constant 10
push constant 50
push constant 6
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 11
push constant 30
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_31
label LABEL_30
label LABEL_31
push this 0
push constant 6
eq
not
if-goto LABEL_32
push this 6
push constant 0
add
push constant 6
push constant 40
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 12
push constant 45
push constant 0
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_33
label LABEL_32
label LABEL_33
push this 0
push constant 7
eq
not
if-goto LABEL_34
push this 6
push constant 0
add
push constant 5
push constant 45
push constant 3
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 13
push constant 35
push constant 3
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_35
label LABEL_34
label LABEL_35
push this 0
push constant 8
eq
not
if-goto LABEL_36
push this 6
push constant 0
add
push constant 0
push constant 40
push constant 7
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 14
push constant 50
push constant 7
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_37
label LABEL_36
label LABEL_37
push this 0
push constant 9
eq
not
if-goto LABEL_38
push this 6
push constant 0
add
push constant 3
push constant 40
push constant 2
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 6
push constant 1
add
push constant 15
push constant 55
push constant 2
call Move.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
pop this 7
goto LABEL_39
label LABEL_38
label LABEL_39
push constant 0
return
function Pokemon.getType 0
push argument 0
pop pointer 0
push this 0
return
function Pokemon.getLevel 0
push argument 0
pop pointer 0
push this 1
return
function Pokemon.getHp 0
push argument 0
pop pointer 0
push this 2
return
function Pokemon.getMaxHp 0
push argument 0
pop pointer 0
push this 3
return
function Pokemon.getAttack 0
push argument 0
pop pointer 0
push this 4
return
function Pokemon.getDefense 0
push argument 0
pop pointer 0
push this 5
return
function Pokemon.getMove 0
push argument 0
pop pointer 0
push this 6
push argument 1
add
pop pointer 1
push that 0
return
function Pokemon.getMoveCount 0
push argument 0
pop pointer 0
push this 7
return
function Pokemon.takeDamage 0
push argument 0
pop pointer 0
push this 2
push argument 1
sub
pop this 2
push this 2
push constant 0
lt
not
if-goto LABEL_40
push constant 0
pop this 2
goto LABEL_41
label LABEL_40
label LABEL_41
push constant 0
return
function Pokemon.isFainted 0
push argument 0
pop pointer 0
push this 2
push constant 1
lt
return
function Pokemon.heal 0
push argument 0
pop pointer 0
push this 3
pop this 2
push constant 0
return
function Pokemon.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label LABEL_42
push local 0
push this 7
lt
not
if-goto LABEL_43
push this 6
push local 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Move.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto LABEL_42
label LABEL_43
push this 6
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return