function Game.new 0
    push constant 20
    call Memory.alloc 1
    pop pointer 0
    call MapManager.new 0
    pop this 0
    push this 0
    push constant 5
    push constant 0
    call MapManager.switchMap 3
    pop temp 0
    push constant 16
    push constant 8
    call Player.new 2
    pop this 1
    push this 1
    push this 0
    call Player.setMapManager 2
    pop temp 0
    push constant 0
    pop this 2
    push constant 0
    pop this 7
    call Pokedex.new 0
    pop this 3
    call PnjManager.new 0
    pop this 4
    push constant 0
    pop this 5
    push constant 1
    neg
    pop this 6
    push this 1
    call Player.getTeam 1
    call TeamMenu.new 1
    pop this 8
    push constant 0
    pop this 9
    call Inventory.new 0
    pop this 10
    push this 10
    push this 1
    call Player.getTeam 1
    call ItemMenu.new 2
    pop this 11
    call ItemPickupManager.new 0
    pop this 12
    push constant 0
    pop this 13
    call StarterMenu.new 0
    pop this 14
    push constant 0
    pop this 15
    push constant 0
    pop this 16
    push constant 0
    pop this 17
    push constant 0
    pop this 18
    push constant 0
    pop this 19
    push pointer 0
    return
function Game.run 1
    push argument 0
    pop pointer 0
    call Random.init 0
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_1
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_0
label Game_1
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 22
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    call Strings.printBienvenue 0
    pop temp 0
label Game_2
    push this 6
    not
    if-goto Game_3
    call Keyboard.keyPressed 0
    pop local 0
    push this 5
    push constant 0
    eq
    not
    if-goto Game_5
    push local 0
    push constant 131
    eq
    not
    if-goto Game_7
    push pointer 0
    push constant 0
    push constant 1
    neg
    call Game.handleMove 3
    pop temp 0
    goto Game_6
label Game_7
label Game_6
    push local 0
    push constant 133
    eq
    not
    if-goto Game_9
    push pointer 0
    push constant 0
    push constant 1
    call Game.handleMove 3
    pop temp 0
    goto Game_8
label Game_9
label Game_8
    push local 0
    push constant 130
    eq
    not
    if-goto Game_11
    push pointer 0
    push constant 1
    neg
    push constant 0
    call Game.handleMove 3
    pop temp 0
    goto Game_10
label Game_11
label Game_10
    push local 0
    push constant 132
    eq
    not
    if-goto Game_13
    push pointer 0
    push constant 1
    push constant 0
    call Game.handleMove 3
    pop temp 0
    goto Game_12
label Game_13
label Game_12
    push local 0
    push constant 116
    eq
    not
    if-goto Game_15
    push this 1
    call Player.hasStarter 1
    not
    if-goto Game_17
    push pointer 0
    call Game.showTeamMenu 1
    pop temp 0
    goto Game_16
label Game_17
label Game_16
    goto Game_14
label Game_15
label Game_14
    push local 0
    push constant 112
    eq
    not
    if-goto Game_19
    push this 1
    call Player.hasStarter 1
    not
    if-goto Game_21
    push pointer 0
    call Game.showPokedex 1
    pop temp 0
    goto Game_20
label Game_21
label Game_20
    goto Game_18
label Game_19
label Game_18
    push local 0
    push constant 105
    eq
    not
    if-goto Game_23
    push pointer 0
    call Game.showInventory 1
    pop temp 0
    goto Game_22
label Game_23
label Game_22
    push local 0
    push constant 32
    eq
    not
    if-goto Game_25
    push pointer 0
    call Game.handleInteraction 1
    pop temp 0
    goto Game_24
label Game_25
label Game_24
    push local 0
    push constant 140
    eq
    not
    if-goto Game_27
    push constant 0
    pop this 6
    goto Game_26
label Game_27
label Game_26
    goto Game_4
label Game_5
    push this 5
    push constant 1
    eq
    not
    if-goto Game_29
    push pointer 0
    push local 0
    call Game.handleBattle 2
    pop temp 0
    goto Game_28
label Game_29
label Game_28
label Game_4
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Game_2
label Game_3
    push constant 0
    return
function Game.chooseStarter 5
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop local 1
    push this 14
    call StarterMenu.display 1
    pop temp 0
label Game_30
    push local 1
    not
    if-goto Game_31
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 130
    eq
    not
    if-goto Game_33
    push this 14
    push constant 1
    neg
    call StarterMenu.moveSelection 2
    pop temp 0
    push this 14
    call StarterMenu.display 1
    pop temp 0
label Game_34
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_35
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_34
label Game_35
    goto Game_32
label Game_33
label Game_32
    push local 0
    push constant 132
    eq
    not
    if-goto Game_37
    push this 14
    push constant 1
    call StarterMenu.moveSelection 2
    pop temp 0
    push this 14
    call StarterMenu.display 1
    pop temp 0
label Game_38
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_39
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_38
label Game_39
    goto Game_36
label Game_37
label Game_36
    push local 0
    push constant 128
    eq
    not
    if-goto Game_41
    push this 14
    call StarterMenu.getSelection 1
    pop local 2
    push local 2
    push constant 5
    call Pokemon.new 2
    pop local 3
    push this 1
    call Player.getTeam 1
    pop local 4
    push this 3
    push local 3
    call Pokemon.getType 1
    call Pokedex.capture 2
    pop temp 0
    push local 4
    push local 3
    call Team.addPokemon 2
    pop temp 0
    push this 1
    push constant 2
    call Player.setStoryProgress 2
    pop temp 0
    push constant 0
    pop local 1
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 22
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    call Strings.printProfExcellentChoix 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
label Game_42
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_43
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_42
label Game_43
    goto Game_40
label Game_41
label Game_40
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Game_30
label Game_31
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
function Game.professorRescue 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push constant 8
    push constant 10
    call Output.moveCursor 2
    pop temp 0
    call Strings.printProfArrive 0
    pop temp 0
    push constant 1500
    call Sys.wait 1
    pop temp 0
    push constant 10
    push constant 5
    call Output.moveCursor 2
    pop temp 0
    call Strings.printProfPasHerbe1 0
    pop temp 0
    push constant 11
    push constant 5
    call Output.moveCursor 2
    pop temp 0
    call Strings.printProfPasHerbe2 0
    pop temp 0
    push constant 2500
    call Sys.wait 1
    pop temp 0
    push constant 13
    push constant 8
    call Output.moveCursor 2
    pop temp 0
    call Strings.printProfViensLabo 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push this 0
    push constant 3
    push constant 0
    call MapManager.switchMap 3
    pop temp 0
    push this 1
    push constant 18
    push constant 7
    call Player.setPosition 3
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push constant 3
    call PnjManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 22
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    call Strings.printProfChoisirStarter 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push pointer 0
    call Game.chooseStarter 1
    pop temp 0
    push constant 0
    return
function Game.drawLimitedVision 12
    push argument 0
    pop pointer 0
    push this 0
    call MapManager.getCurrentMap 1
    pop local 11
    push this 1
    call Player.getX 1
    pop local 0
    push this 1
    call Player.getY 1
    pop local 1
    push local 0
    push constant 1
    sub
    pop local 2
    push local 1
    push constant 1
    sub
    pop local 3
    push local 0
    push constant 1
    add
    pop local 4
    push local 1
    push constant 1
    add
    pop local 5
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push local 3
    pop local 7
label Game_44
    push local 7
    push local 5
    push constant 1
    add
    lt
    not
    if-goto Game_45
    push local 2
    pop local 6
label Game_46
    push local 6
    push local 4
    push constant 1
    add
    lt
    not
    if-goto Game_47
    push local 6
    push constant 1
    neg
    gt
    push local 6
    push constant 32
    lt
    and
    push local 7
    push constant 1
    neg
    gt
    and
    push local 7
    push constant 16
    lt
    and
    not
    if-goto Game_49
    push local 11
    push local 6
    push local 7
    call Map.getTile 3
    pop local 8
    push local 6
    push constant 16
    call Math.multiply 2
    pop local 9
    push local 7
    push constant 16
    call Math.multiply 2
    pop local 10
    push local 11
    push local 9
    push local 10
    push local 8
    push local 6
    push local 7
    call Map.drawTile 6
    pop temp 0
    goto Game_48
label Game_49
label Game_48
    push local 6
    push constant 1
    add
    pop local 6
    goto Game_46
label Game_47
    push local 7
    push constant 1
    add
    pop local 7
    goto Game_44
label Game_45
    push constant 0
    return
function Game.showShop 2
    push argument 0
    pop pointer 0
    push this 13
    push constant 0
    eq
    not
    if-goto Game_51
    push this 10
    push this 1
    call Player.getMoney 1
    call Shop.new 2
    pop this 13
    goto Game_50
label Game_51
label Game_50
    push constant 0
    pop local 1
    push this 13
    call Shop.display 1
    pop temp 0
label Game_52
    push local 1
    not
    not
    if-goto Game_53
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 131
    eq
    not
    if-goto Game_55
    push this 13
    push local 0
    call Shop.handleInput 2
    pop temp 0
    push this 13
    call Shop.display 1
    pop temp 0
label Game_56
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_57
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_56
label Game_57
    goto Game_54
label Game_55
label Game_54
    push local 0
    push constant 133
    eq
    not
    if-goto Game_59
    push this 13
    push local 0
    call Shop.handleInput 2
    pop temp 0
    push this 13
    call Shop.display 1
    pop temp 0
label Game_60
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_61
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_60
label Game_61
    goto Game_58
label Game_59
label Game_58
    push local 0
    push constant 128
    eq
    not
    if-goto Game_63
    push this 13
    push local 0
    call Shop.handleInput 2
    pop temp 0
    push this 13
    call Shop.display 1
    pop temp 0
label Game_64
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_65
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_64
label Game_65
    goto Game_62
label Game_63
label Game_62
    push local 0
    push constant 81
    eq
    not
    if-goto Game_67
    push constant 1
    neg
    pop local 1
label Game_68
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_69
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_68
label Game_69
    goto Game_66
label Game_67
label Game_66
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Game_52
label Game_53
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
function Game.handleInteraction 11
    push argument 0
    pop pointer 0
    push this 0
    call MapManager.getCurrentMapId 1
    pop local 1
    push this 0
    call MapManager.getCurrentMap 1
    pop local 9
    push this 1
    call Player.getX 1
    pop local 4
    push this 1
    call Player.getY 1
    pop local 5
    push this 1
    call Player.getDirection 1
    pop local 8
    push local 8
    push constant 0
    eq
    not
    if-goto Game_71
    push local 4
    pop local 6
    push local 5
    push constant 1
    add
    pop local 7
    goto Game_70
label Game_71
label Game_70
    push local 8
    push constant 1
    eq
    not
    if-goto Game_73
    push local 4
    pop local 6
    push local 5
    push constant 1
    sub
    pop local 7
    goto Game_72
label Game_73
label Game_72
    push local 8
    push constant 2
    eq
    not
    if-goto Game_75
    push local 4
    push constant 1
    sub
    pop local 6
    push local 5
    pop local 7
    goto Game_74
label Game_75
label Game_74
    push local 8
    push constant 3
    eq
    not
    if-goto Game_77
    push local 4
    push constant 1
    add
    pop local 6
    push local 5
    pop local 7
    goto Game_76
label Game_77
label Game_76
    push local 9
    push local 6
    push local 7
    call Map.getTile 3
    pop local 10
    push local 10
    push constant 49
    eq
    push local 1
    push constant 8
    eq
    and
    not
    if-goto Game_79
    push local 6
    push constant 6
    eq
    push local 7
    push constant 3
    eq
    and
    push local 6
    push constant 6
    eq
    push local 7
    push constant 4
    eq
    and
    or
    push local 6
    push constant 6
    eq
    push local 7
    push constant 5
    eq
    and
    or
    not
    if-goto Game_81
    push this 19
    not
    if-goto Game_83
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 22
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    call Strings.printCecocotieradejaetevaincu 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
    goto Game_82
label Game_83
label Game_82
    push this 18
    not
    if-goto Game_85
    push pointer 0
    call Game.startNoadkokoBattle 1
    pop temp 0
    push constant 0
    return
    goto Game_84
label Game_85
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 22
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    call Strings.printCetarbresemblespecial 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
label Game_84
    goto Game_80
label Game_81
label Game_80
    goto Game_78
label Game_79
label Game_78
    push pointer 0
    call Game.tryPushRock 1
    pop local 3
    push local 3
    not
    if-goto Game_87
    push constant 0
    return
    goto Game_86
label Game_87
label Game_86
    push this 4
    push local 4
    push local 5
    push local 1
    call PnjManager.checkInteraction 4
    pop local 0
    push local 0
    push constant 0
    eq
    not
    not
    if-goto Game_89
    push local 0
    call Pnj.getType 1
    pop local 2
    push local 2
    push constant 31
    eq
    push this 1
    call Player.getStoryProgress 1
    push constant 1
    eq
    and
    not
    if-goto Game_91
    push local 0
    push this 1
    push this 3
    push this 13
    call Pnj.interact 4
    pop temp 0
    push pointer 0
    call Game.chooseStarter 1
    pop temp 0
    push constant 0
    return
    goto Game_90
label Game_91
label Game_90
    push local 2
    push constant 31
    eq
    push local 1
    push constant 7
    eq
    and
    not
    if-goto Game_93
    push local 0
    call Pnj.isDefeated 1
    not
    if-goto Game_95
    push constant 1
    neg
    pop this 18
    goto Game_94
label Game_95
label Game_94
    goto Game_92
label Game_93
label Game_92
    push local 0
    call Pnj.getIsTrainer 1
    push this 1
    call Player.hasStarter 1
    not
    and
    not
    if-goto Game_97
    push local 0
    push this 1
    push this 3
    push this 13
    call Pnj.interact 4
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_99
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_98
label Game_99
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_98
    push this 4
    push local 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
    goto Game_96
label Game_97
label Game_96
    push local 0
    call Pnj.getIsTrainer 1
    push local 0
    call Pnj.isDefeated 1
    not
    and
    not
    if-goto Game_101
    push local 0
    pop this 9
    push pointer 0
    push local 0
    call Game.startTrainerBattle 2
    pop temp 0
    goto Game_100
label Game_101
    push local 0
    push this 1
    push this 3
    push this 13
    call Pnj.interact 4
    pop temp 0
    push local 2
    push constant 36
    eq
    not
    if-goto Game_103
    push pointer 0
    call Game.showShop 1
    pop temp 0
    goto Game_102
label Game_103
label Game_102
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_105
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_104
label Game_105
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_104
    push this 4
    push local 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
label Game_100
    goto Game_88
label Game_89
label Game_88
    push constant 0
    return
function Game.handleMove 13
    push argument 0
    pop pointer 0
    push this 1
    call Player.getX 1
    push argument 1
    add
    pop local 0
    push this 1
    call Player.getY 1
    push argument 2
    add
    pop local 1
    push this 0
    call MapManager.getCurrentMap 1
    pop local 4
    push this 0
    call MapManager.getCurrentMap 1
    pop local 7
    push this 0
    call MapManager.getCurrentMapId 1
    pop local 5
    push local 4
    push local 0
    push local 1
    call Map.getTile 3
    pop local 2
    push this 17
    pop local 12
    push local 5
    push constant 7
    eq
    not
    if-goto Game_107
    push local 0
    push constant 11
    gt
    push local 0
    push constant 19
    lt
    and
    push local 1
    push constant 0
    gt
    and
    push local 1
    push constant 10
    lt
    and
    not
    if-goto Game_109
    push constant 0
    pop this 17
    goto Game_108
label Game_109
    push constant 1
    neg
    pop this 17
label Game_108
    goto Game_106
label Game_107
    push constant 0
    pop this 17
label Game_106
    push local 2
    push constant 151
    eq
    push this 1
    call Player.hasStarter 1
    not
    and
    not
    if-goto Game_111
    push this 1
    call Player.erase 1
    pop temp 0
    push this 1
    push argument 1
    push argument 2
    call Player.setDirection 3
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 22
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    call Strings.printBesoinPokemon 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push constant 176
    push constant 511
    push constant 255
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
    goto Game_110
label Game_111
label Game_110
    push this 12
    push local 0
    push local 1
    push local 5
    call ItemPickupManager.checkPickup 4
    pop local 6
    push local 6
    push constant 0
    eq
    not
    not
    if-goto Game_113
    push local 6
    call ItemPickup.collect 1
    pop temp 0
    push this 10
    push local 6
    call ItemPickup.getItemType 1
    push local 6
    call ItemPickup.getQuantity 1
    call Inventory.addItem 3
    pop temp 0
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.printVousTrouvez 0
    pop temp 0
    push local 6
    call ItemPickup.getQuantity 1
    call Output.printInt 1
    pop temp 0
    push constant 32
    call Output.printChar 1
    pop temp 0
    push pointer 0
    push local 6
    call ItemPickup.getItemType 1
    call Game.printItemName 2
    pop temp 0
    push constant 33
    call Output.printChar 1
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_115
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_114
label Game_115
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_114
    push this 4
    push local 5
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 5
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    goto Game_112
label Game_113
label Game_112
    push this 4
    push local 0
    push local 1
    push local 5
    call PnjManager.isPnjAtPosition 4
    not
    if-goto Game_117
    push this 1
    call Player.erase 1
    pop temp 0
    push this 1
    push argument 1
    push argument 2
    call Player.setDirection 3
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
    goto Game_116
label Game_117
label Game_116
    push local 2
    push constant 0
    eq
    push local 2
    push constant 1
    eq
    or
    push local 2
    push constant 7
    eq
    or
    push local 2
    push constant 54
    eq
    or
    push local 2
    push constant 18
    eq
    or
    push local 2
    push constant 27
    eq
    or
    push local 2
    push constant 33
    eq
    or
    push local 2
    push constant 34
    eq
    or
    push local 2
    push constant 35
    eq
    or
    push local 2
    push constant 36
    eq
    or
    push local 2
    push constant 37
    eq
    or
    push local 2
    push constant 38
    eq
    or
    push local 2
    push constant 39
    eq
    or
    push local 2
    push constant 41
    eq
    or
    push local 2
    push constant 23
    eq
    or
    push local 2
    push constant 24
    eq
    or
    push local 2
    push constant 25
    eq
    or
    push local 2
    push constant 50
    eq
    or
    push local 2
    push constant 51
    eq
    or
    push local 2
    push constant 149
    gt
    or
    pop local 11
    push local 11
    not
    if-goto Game_119
    push this 1
    call Player.erase 1
    pop temp 0
    push local 4
    push this 1
    call Player.getX 1
    push this 1
    call Player.getY 1
    call Map.redrawTile 3
    pop temp 0
    push this 1
    push argument 1
    push argument 2
    call Player.move 3
    pop temp 0
    push this 12
    push local 5
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push local 12
    push this 17
    eq
    not
    push this 17
    or
    not
    if-goto Game_121
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_123
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_122
label Game_123
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_122
    push this 4
    push local 5
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 5
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    goto Game_120
label Game_121
label Game_120
    push this 1
    call Player.hasStarter 1
    not
    if-goto Game_125
    push this 4
    push local 0
    push local 1
    push local 5
    push local 4
    call PnjManager.checkTrainerSight 5
    pop local 9
    push local 9
    push constant 0
    eq
    not
    not
    if-goto Game_127
    push local 9
    push local 0
    push local 1
    call Pnj.facePlayer 3
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_129
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_128
label Game_129
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_128
    push this 4
    push local 5
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 5
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push local 9
    call Pnj.getY 1
    push constant 1
    sub
    push constant 16
    call Math.multiply 2
    push constant 32
    call Math.multiply 2
    push local 9
    call Pnj.getX 1
    push constant 16
    call Math.multiply 2
    push constant 16
    call Math.divide 2
    add
    pop local 10
    push local 10
    call Sprites.drawinterrogation 1
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 9
    pop this 9
    push pointer 0
    push local 9
    call Game.startTrainerBattle 2
    pop temp 0
    push constant 0
    return
    goto Game_126
label Game_127
label Game_126
    goto Game_124
label Game_125
label Game_124
    push local 2
    push constant 1
    eq
    push this 5
    push constant 0
    eq
    and
    not
    if-goto Game_131
    push this 1
    call Player.hasStarter 1
    not
    if-goto Game_133
    push local 5
    push constant 3
    eq
    push local 5
    push constant 4
    eq
    or
    push local 5
    push constant 5
    eq
    or
    push local 5
    push constant 8
    eq
    or
    not
    not
    if-goto Game_135
    push constant 20
    call Random.chance 1
    pop local 3
    push local 3
    not
    if-goto Game_137
    push pointer 0
    call Game.startWildBattle 1
    pop temp 0
    goto Game_136
label Game_137
label Game_136
    goto Game_134
label Game_135
label Game_134
    goto Game_132
label Game_133
    push pointer 0
    call Game.professorRescue 1
    pop temp 0
label Game_132
    goto Game_130
label Game_131
label Game_130
    goto Game_118
label Game_119
    push this 1
    call Player.erase 1
    pop temp 0
    push this 1
    push argument 1
    push argument 2
    call Player.setDirection 3
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
label Game_118
    push local 2
    push constant 149
    gt
    not
    if-goto Game_139
    push pointer 0
    push local 2
    push local 0
    push local 1
    push local 7
    call Game.handlePortal 5
    pop temp 0
    push constant 0
    return
    goto Game_138
label Game_139
label Game_138
    push constant 0
    return
function Game.tryPushRock 11
    push argument 0
    pop pointer 0
    push this 0
    call MapManager.getCurrentMap 1
    pop local 0
    push this 1
    call Player.getX 1
    pop local 1
    push this 1
    call Player.getY 1
    pop local 2
    push this 1
    call Player.getDirection 1
    pop local 3
    push local 3
    push constant 0
    eq
    not
    if-goto Game_141
    push local 1
    pop local 4
    push local 2
    push constant 1
    add
    pop local 5
    goto Game_140
label Game_141
label Game_140
    push local 3
    push constant 1
    eq
    not
    if-goto Game_143
    push local 1
    pop local 4
    push local 2
    push constant 1
    sub
    pop local 5
    goto Game_142
label Game_143
label Game_142
    push local 3
    push constant 2
    eq
    not
    if-goto Game_145
    push local 1
    push constant 1
    sub
    pop local 4
    push local 2
    pop local 5
    goto Game_144
label Game_145
label Game_144
    push local 3
    push constant 3
    eq
    not
    if-goto Game_147
    push local 1
    push constant 1
    add
    pop local 4
    push local 2
    pop local 5
    goto Game_146
label Game_147
label Game_146
    push local 0
    push local 4
    push local 5
    call Map.getTile 3
    pop local 8
    push local 8
    push constant 40
    eq
    not
    not
    if-goto Game_149
    push constant 0
    return
    goto Game_148
label Game_149
label Game_148
    push local 3
    push constant 0
    eq
    not
    if-goto Game_151
    push local 4
    pop local 6
    push local 5
    push constant 1
    add
    pop local 7
    goto Game_150
label Game_151
label Game_150
    push local 3
    push constant 1
    eq
    not
    if-goto Game_153
    push local 4
    pop local 6
    push local 5
    push constant 1
    sub
    pop local 7
    goto Game_152
label Game_153
label Game_152
    push local 3
    push constant 2
    eq
    not
    if-goto Game_155
    push local 4
    push constant 1
    sub
    pop local 6
    push local 5
    pop local 7
    goto Game_154
label Game_155
label Game_154
    push local 3
    push constant 3
    eq
    not
    if-goto Game_157
    push local 4
    push constant 1
    add
    pop local 6
    push local 5
    pop local 7
    goto Game_156
label Game_157
label Game_156
    push local 0
    push local 6
    push local 7
    call Map.getTile 3
    pop local 9
    push local 9
    push constant 0
    eq
    push local 9
    push constant 1
    eq
    or
    push local 9
    push constant 7
    eq
    or
    push local 9
    push constant 18
    eq
    or
    push local 9
    push constant 27
    eq
    or
    pop local 10
    push local 10
    not
    if-goto Game_159
    push this 4
    push local 6
    push local 7
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.isPnjAtPosition 4
    not
    if-goto Game_161
    push constant 0
    pop local 10
    goto Game_160
label Game_161
label Game_160
    goto Game_158
label Game_159
label Game_158
    push local 10
    not
    if-goto Game_163
    push local 0
    push local 4
    push local 5
    push local 9
    call Map.setTile 4
    pop temp 0
    push local 0
    push local 6
    push local 7
    push constant 40
    call Map.setTile 4
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 1
    neg
    return
    goto Game_162
label Game_163
label Game_162
    push constant 0
    return
function Game.printItemName 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 0
    eq
    not
    if-goto Game_165
    call Strings.printPokeball 0
    pop temp 0
    goto Game_164
label Game_165
label Game_164
    push argument 1
    push constant 1
    eq
    not
    if-goto Game_167
    call Strings.printPotion 0
    pop temp 0
    goto Game_166
label Game_167
label Game_166
    push argument 1
    push constant 2
    eq
    not
    if-goto Game_169
    call Strings.printSuperPotion 0
    pop temp 0
    goto Game_168
label Game_169
label Game_168
    push argument 1
    push constant 3
    eq
    not
    if-goto Game_171
    call Strings.printRappel 0
    pop temp 0
    goto Game_170
label Game_171
label Game_170
    push constant 0
    return
function Game.handlePortal 7
    push argument 0
    pop pointer 0
    push this 0
    call MapManager.getCurrentMapId 1
    pop local 3
    push local 3
    pop local 0
    push constant 0
    pop local 6
    push argument 1
    push constant 150
    eq
    not
    if-goto Game_173
    push local 3
    push constant 0
    eq
    not
    if-goto Game_175
    push constant 1
    pop local 0
    goto Game_174
label Game_175
label Game_174
    push local 3
    push constant 1
    eq
    not
    if-goto Game_177
    push constant 0
    pop local 0
    goto Game_176
label Game_177
label Game_176
    goto Game_172
label Game_173
label Game_172
    push argument 1
    push constant 151
    eq
    not
    if-goto Game_179
    push local 3
    push constant 1
    eq
    not
    if-goto Game_181
    push constant 2
    pop local 0
    goto Game_180
label Game_181
label Game_180
    push local 3
    push constant 2
    eq
    not
    if-goto Game_183
    push constant 1
    pop local 0
    goto Game_182
label Game_183
label Game_182
    goto Game_178
label Game_179
label Game_178
    push argument 1
    push constant 153
    eq
    not
    if-goto Game_185
    push local 3
    push constant 0
    eq
    not
    if-goto Game_187
    push constant 3
    pop local 0
    goto Game_186
label Game_187
label Game_186
    push local 3
    push constant 3
    eq
    not
    if-goto Game_189
    push constant 0
    pop local 0
    goto Game_188
label Game_189
label Game_188
    goto Game_184
label Game_185
label Game_184
    push argument 1
    push constant 154
    eq
    not
    if-goto Game_191
    push local 3
    push constant 4
    eq
    not
    if-goto Game_193
    push this 15
    pop local 0
    push constant 0
    pop this 5
    push constant 1
    neg
    pop local 6
    push local 0
    push constant 0
    eq
    not
    if-goto Game_195
    push constant 26
    pop local 4
    push constant 13
    pop local 5
    goto Game_194
label Game_195
label Game_194
    push local 0
    push constant 1
    eq
    not
    if-goto Game_197
    push constant 21
    pop local 4
    push constant 4
    pop local 5
    goto Game_196
label Game_197
label Game_196
    goto Game_192
label Game_193
label Game_192
    goto Game_190
label Game_191
label Game_190
    push argument 1
    push constant 170
    eq
    not
    if-goto Game_199
    push local 3
    push constant 6
    eq
    not
    if-goto Game_201
    push constant 7
    pop local 0
    goto Game_200
label Game_201
label Game_200
    push local 3
    push constant 7
    eq
    not
    if-goto Game_203
    push constant 6
    pop local 0
    goto Game_202
label Game_203
label Game_202
    goto Game_198
label Game_199
label Game_198
    push argument 1
    push constant 160
    eq
    not
    if-goto Game_205
    push local 3
    push constant 2
    eq
    not
    if-goto Game_207
    push constant 6
    pop local 0
    goto Game_206
label Game_207
label Game_206
    push local 3
    push constant 6
    eq
    not
    if-goto Game_209
    push constant 2
    pop local 0
    goto Game_208
label Game_209
label Game_208
    goto Game_204
label Game_205
label Game_204
    push argument 1
    push constant 180
    eq
    not
    if-goto Game_211
    push local 3
    push constant 6
    eq
    not
    if-goto Game_213
    push constant 8
    pop local 0
    goto Game_212
label Game_213
label Game_212
    push local 3
    push constant 8
    eq
    not
    if-goto Game_215
    push constant 6
    pop local 0
    goto Game_214
label Game_215
label Game_214
    goto Game_210
label Game_211
label Game_210
    push argument 1
    push constant 156
    eq
    not
    if-goto Game_217
    push local 3
    push constant 0
    eq
    not
    if-goto Game_219
    push constant 5
    pop local 0
    goto Game_218
label Game_219
label Game_218
    push local 3
    push constant 5
    eq
    not
    if-goto Game_221
    push constant 0
    pop local 0
    goto Game_220
label Game_221
label Game_220
    goto Game_216
label Game_217
label Game_216
    push argument 1
    push constant 155
    eq
    not
    if-goto Game_223
    push local 3
    pop this 15
    push constant 4
    pop local 0
    goto Game_222
label Game_223
label Game_222
    push local 0
    push local 3
    eq
    not
    if-goto Game_225
    push constant 0
    return
    goto Game_224
label Game_225
label Game_224
    push constant 500
    call Sys.wait 1
    pop temp 0
    push this 0
    push local 0
    push argument 1
    call MapManager.switchMap 3
    pop temp 0
    push this 0
    call MapManager.getCurrentMap 1
    pop local 2
    push local 6
    not
    if-goto Game_227
    push this 1
    push local 4
    push local 5
    call Player.setPosition 3
    pop temp 0
    goto Game_226
label Game_227
    push local 2
    push argument 1
    call Map.findPortal 2
    pop local 1
    push this 1
    push constant 0
    push local 1
    add
    pop pointer 1
    push that 0
    push constant 1
    push local 1
    add
    pop pointer 1
    push that 0
    call Player.setPosition 3
    pop temp 0
    push local 1
    call Array.dispose 1
    pop temp 0
label Game_226
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push local 0
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 0
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
function Game.startWildBattle 4
    push argument 0
    pop pointer 0
    push this 0
    call MapManager.getCurrentMapId 1
    pop local 2
    push this 0
    call MapManager.getCurrentMap 1
    pop local 3
    push local 2
    push constant 3
    eq
    push local 2
    push constant 4
    eq
    or
    push local 2
    push constant 5
    eq
    or
    push local 2
    push constant 6
    eq
    or
    not
    if-goto Game_229
    push constant 0
    return
    goto Game_228
label Game_229
label Game_228
    push constant 1
    pop this 5
    push this 7
    push constant 0
    eq
    not
    not
    if-goto Game_231
    push this 7
    call Pokemon.dispose 1
    pop temp 0
    goto Game_230
label Game_231
label Game_230
    push local 2
    push local 3
    push this 1
    call Player.getX 1
    push this 1
    call Player.getY 1
    call SpawnZone.getWildPokemon 4
    pop local 0
    push local 0
    push constant 0
    lt
    not
    if-goto Game_233
    push constant 0
    pop this 5
    push constant 0
    return
    goto Game_232
label Game_233
label Game_232
    push local 2
    call SpawnZone.getPokemonLevel 1
    pop local 1
    push local 0
    push local 1
    call Pokemon.new 2
    pop this 7
    push this 1
    call Player.getPokemon 1
    push this 7
    push this 3
    push this 1
    call Player.getTeam 1
    push this 10
    call Battle.new 5
    pop this 2
    call Screen.clearScreen 0
    pop temp 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push constant 0
    return
function Game.startTrainerBattle 2
    push argument 0
    pop pointer 0
    call TransitionEffect.trainerBattleTransition 0
    pop temp 0
    push constant 1
    pop this 5
    push argument 1
    call Pnj.getTeam 1
    pop local 1
    push local 1
    call Team.getActive 1
    pop local 0
    push this 1
    call Player.getPokemon 1
    push local 0
    push this 3
    push this 1
    call Player.getTeam 1
    push this 10
    call Battle.new 5
    pop this 2
    push this 2
    push local 1
    call Battle.setEnemyTeam 2
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.printdresseurdefie 0
    pop temp 0
    push constant 1500
    call Sys.wait 1
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push constant 0
    return
function Game.startNoadkokoBattle 0
    push argument 0
    pop pointer 0
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.printLecocotiersanime 0
    pop temp 0
    push constant 1500
    call Sys.wait 1
    pop temp 0
    push constant 1
    pop this 5
    push this 7
    push constant 0
    eq
    not
    not
    if-goto Game_235
    push this 7
    call Pokemon.dispose 1
    pop temp 0
    goto Game_234
label Game_235
label Game_234
    push constant 11
    push constant 55
    call Pokemon.new 2
    pop this 7
    push this 1
    call Player.getPokemon 1
    push this 7
    push this 3
    push this 1
    call Player.getTeam 1
    push this 10
    call Battle.new 5
    pop this 2
    call Screen.clearScreen 0
    pop temp 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push constant 0
    return
function Game.endBattle 4
    push argument 0
    pop pointer 0
    push this 9
    push constant 0
    eq
    not
    pop local 3
    push local 3
    not
    push argument 1
    push argument 2
    or
    and
    push this 0
    call MapManager.getCurrentMapId 1
    push constant 8
    eq
    and
    not
    if-goto Game_237
    push this 7
    call Pokemon.getType 1
    push constant 11
    eq
    not
    if-goto Game_239
    push constant 1
    neg
    pop this 19
    goto Game_238
label Game_239
label Game_238
    goto Game_236
label Game_237
label Game_236
    push local 3
    push argument 1
    and
    not
    if-goto Game_241
    push this 9
    call Pnj.getMoneyReward 1
    pop local 1
    push this 1
    call Player.getMoney 1
    pop local 2
    push local 2
    push local 1
    call Money.earn 2
    pop temp 0
    push this 9
    push constant 1
    neg
    call Pnj.setDefeated 2
    pop temp 0
    push this 9
    call Pnj.getType 1
    push constant 31
    eq
    not
    if-goto Game_243
    push constant 1
    neg
    pop this 18
    goto Game_242
label Game_243
label Game_242
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.Vaincudresseur 0
    pop temp 0
    push constant 1500
    call Sys.wait 1
    pop temp 0
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.vousgagnez 0
    pop temp 0
    push local 1
    call Output.printInt 1
    pop temp 0
    push constant 36
    call Output.printChar 1
    pop temp 0
    push constant 33
    call Output.printChar 1
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    goto Game_240
label Game_241
label Game_240
    push local 3
    not
    if-goto Game_245
    push this 2
    push constant 0
    eq
    not
    not
    if-goto Game_247
    push this 2
    call Battle.disposeWithoutEnemy 1
    pop temp 0
    push constant 0
    pop this 2
    goto Game_246
label Game_247
label Game_246
    goto Game_244
label Game_245
    push argument 2
    not
    if-goto Game_249
    push this 2
    push constant 0
    eq
    not
    not
    if-goto Game_251
    push this 2
    call Battle.disposeWithoutEnemy 1
    pop temp 0
    push constant 0
    pop this 2
    goto Game_250
label Game_251
label Game_250
    push constant 0
    pop this 7
    goto Game_248
label Game_249
    push this 2
    push constant 0
    eq
    not
    not
    if-goto Game_253
    push this 2
    call Battle.disposeWithoutEnemy 1
    pop temp 0
    push constant 0
    pop this 2
    goto Game_252
label Game_253
label Game_252
    push this 7
    push constant 0
    eq
    not
    not
    if-goto Game_255
    push this 7
    call Pokemon.dispose 1
    pop temp 0
    push constant 0
    pop this 7
    goto Game_254
label Game_255
label Game_254
label Game_248
label Game_244
    push constant 0
    pop this 9
    push constant 0
    pop this 5
    push this 0
    call MapManager.getCurrentMapId 1
    pop local 0
    call Screen.clearScreen 0
    pop temp 0
    push this 17
    not
    if-goto Game_257
    push pointer 0
    call Game.drawLimitedVision 1
    pop temp 0
    goto Game_256
label Game_257
    push this 0
    call MapManager.draw 1
    pop temp 0
label Game_256
    push this 4
    push local 0
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push local 0
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push argument 2
    not
    if-goto Game_259
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.printPokemonCapture 0
    pop temp 0
    push constant 2000
    call Sys.wait 1
    pop temp 0
    push this 3
    call Pokedex.isComplete 1
    not
    if-goto Game_261
    push pointer 0
    call Game.winGame 1
    pop temp 0
    goto Game_260
label Game_261
label Game_260
    goto Game_258
label Game_259
    push argument 1
    not
    if-goto Game_263
    push constant 0
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.printVictoire 0
    pop temp 0
    push constant 1000
    call Sys.wait 1
    pop temp 0
    goto Game_262
label Game_263
label Game_262
label Game_258
    push constant 0
    return
function Game.showInventory 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 1
    push this 11
    call ItemMenu.display 1
    pop temp 0
label Game_264
    push local 1
    not
    not
    if-goto Game_265
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 131
    eq
    not
    if-goto Game_267
    push this 11
    push local 0
    call ItemMenu.handleInput 2
    pop temp 0
    push this 11
    call ItemMenu.display 1
    pop temp 0
label Game_268
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_269
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_268
label Game_269
    goto Game_266
label Game_267
label Game_266
    push local 0
    push constant 133
    eq
    not
    if-goto Game_271
    push this 11
    push local 0
    call ItemMenu.handleInput 2
    pop temp 0
    push this 11
    call ItemMenu.display 1
    pop temp 0
label Game_272
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_273
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_272
label Game_273
    goto Game_270
label Game_271
label Game_270
    push local 0
    push constant 128
    eq
    not
    if-goto Game_275
    push this 11
    push local 0
    call ItemMenu.handleInput 2
    pop temp 0
    push this 11
    call ItemMenu.display 1
    pop temp 0
label Game_276
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_277
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_276
label Game_277
    goto Game_274
label Game_275
label Game_274
    push local 0
    push constant 81
    eq
    not
    if-goto Game_279
    push this 11
    call ItemMenu.isInPokemonSelection 1
    not
    if-goto Game_281
    push this 11
    push constant 0
    call ItemMenu.setInPokemonSelection 2
    pop temp 0
    push this 11
    call ItemMenu.display 1
    pop temp 0
    goto Game_280
label Game_281
    push constant 1
    neg
    pop local 1
label Game_280
label Game_282
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_283
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_282
label Game_283
    goto Game_278
label Game_279
label Game_278
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Game_264
label Game_265
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
function Game.showPokedex 0
    push argument 0
    pop pointer 0
    call Screen.clearScreen 0
    pop temp 0
    push this 3
    call Pokedex.display 1
    pop temp 0
    push constant 22
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    call Strings.Appuyersurunetouche 0
    pop temp 0
label Game_284
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    if-goto Game_285
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_284
label Game_285
label Game_286
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_287
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_286
label Game_287
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
function Game.winGame 0
    push argument 0
    pop pointer 0
    push constant 2
    pop this 5
    call Screen.clearScreen 0
    pop temp 0
    push constant 10
    push constant 15
    call Output.moveCursor 2
    pop temp 0
    call Strings.printFelicitations 0
    pop temp 0
    push constant 12
    push constant 10
    call Output.moveCursor 2
    pop temp 0
    call Strings.printPokedexComplet 0
    pop temp 0
    push constant 14
    push constant 8
    call Output.moveCursor 2
    pop temp 0
    call Strings.printMaitrePokemon 0
    pop temp 0
    push constant 5000
    call Sys.wait 1
    pop temp 0
    push constant 0
    pop this 6
    push constant 0
    return
function Game.showTeamMenu 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 1
    push this 8
    call TeamMenu.display 1
    pop temp 0
label Game_288
    push local 1
    not
    not
    if-goto Game_289
    call Keyboard.keyPressed 0
    pop local 0
    push local 0
    push constant 131
    eq
    not
    if-goto Game_291
    push this 8
    push local 0
    call TeamMenu.handleInput 2
    pop temp 0
    push this 8
    call TeamMenu.display 1
    pop temp 0
label Game_292
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_293
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_292
label Game_293
    goto Game_290
label Game_291
label Game_290
    push local 0
    push constant 133
    eq
    not
    if-goto Game_295
    push this 8
    push local 0
    call TeamMenu.handleInput 2
    pop temp 0
    push this 8
    call TeamMenu.display 1
    pop temp 0
label Game_296
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_297
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_296
label Game_297
    goto Game_294
label Game_295
label Game_294
    push local 0
    push constant 128
    eq
    not
    if-goto Game_299
    push this 8
    push local 0
    call TeamMenu.handleInput 2
    pop temp 0
    push this 8
    call TeamMenu.display 1
    pop temp 0
label Game_300
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_301
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_300
label Game_301
    goto Game_298
label Game_299
label Game_298
    push local 0
    push constant 113
    eq
    not
    if-goto Game_303
    push constant 1
    neg
    pop local 1
label Game_304
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_305
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_304
label Game_305
    goto Game_302
label Game_303
label Game_302
    push local 0
    push constant 65
    eq
    not
    if-goto Game_307
    push this 8
    push local 0
    call TeamMenu.handleInput 2
    pop temp 0
    push this 8
    call TeamMenu.display 1
    pop temp 0
label Game_308
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_309
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_308
label Game_309
    goto Game_306
label Game_307
label Game_306
    push local 0
    push constant 115
    eq
    not
    if-goto Game_311
    push this 8
    push local 0
    call TeamMenu.handleInput 2
    pop temp 0
    push this 8
    call TeamMenu.display 1
    pop temp 0
label Game_312
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    not
    if-goto Game_313
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto Game_312
label Game_313
    goto Game_310
label Game_311
label Game_310
    push constant 100
    call Sys.wait 1
    pop temp 0
    goto Game_288
label Game_289
    call Screen.clearScreen 0
    pop temp 0
    push this 0
    call MapManager.draw 1
    pop temp 0
    push this 4
    push this 0
    call MapManager.getCurrentMapId 1
    call PnjManager.drawForMap 2
    pop temp 0
    push this 12
    push this 0
    call MapManager.getCurrentMapId 1
    call ItemPickupManager.drawForMap 2
    pop temp 0
    push this 1
    call Player.draw 1
    pop temp 0
    push constant 0
    return
function Game.handleBattle 1
    push argument 0
    pop pointer 0
    push this 2
    call Battle.isInSwitchMenu 1
    not
    if-goto Game_315
    push argument 1
    push constant 131
    eq
    not
    if-goto Game_317
    push this 2
    push constant 1
    neg
    call Battle.moveSwitchSelection 2
    pop temp 0
    push this 2
    call Battle.drawSwitchMenu 1
    pop temp 0
    goto Game_316
label Game_317
label Game_316
    push argument 1
    push constant 133
    eq
    not
    if-goto Game_319
    push this 2
    push constant 1
    call Battle.moveSwitchSelection 2
    pop temp 0
    push this 2
    call Battle.drawSwitchMenu 1
    pop temp 0
    goto Game_318
label Game_319
label Game_318
    push argument 1
    push constant 128
    eq
    not
    if-goto Game_321
    push this 2
    push this 2
    call Battle.getSwitchSelectedIndex 1
    call Battle.switchPokemon 2
    pop local 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push local 0
    push constant 2
    eq
    not
    if-goto Game_323
    push pointer 0
    push constant 0
    push constant 0
    call Game.endBattle 3
    pop temp 0
    goto Game_322
label Game_323
label Game_322
    goto Game_320
label Game_321
label Game_320
    push argument 1
    push constant 81
    eq
    not
    if-goto Game_325
    push this 2
    push constant 0
    call Battle.setInSwitchMenu 2
    pop temp 0
    push this 2
    call Battle.draw 1
    pop temp 0
    goto Game_324
label Game_325
label Game_324
    goto Game_314
label Game_315
    push argument 1
    push constant 48
    gt
    push argument 1
    push constant 53
    lt
    and
    not
    if-goto Game_327
    push this 2
    push argument 1
    push constant 49
    sub
    call Battle.attack 2
    pop local 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push local 0
    push constant 1
    eq
    not
    if-goto Game_329
    push pointer 0
    push constant 1
    neg
    push constant 0
    call Game.endBattle 3
    pop temp 0
    goto Game_328
label Game_329
label Game_328
    push local 0
    push constant 2
    eq
    not
    if-goto Game_331
    push pointer 0
    push constant 0
    push constant 0
    call Game.endBattle 3
    pop temp 0
    goto Game_330
label Game_331
label Game_330
    push local 0
    push constant 3
    eq
    not
    if-goto Game_333
    push pointer 0
    push constant 1
    neg
    push constant 1
    neg
    call Game.endBattle 3
    pop temp 0
    goto Game_332
label Game_333
label Game_332
    goto Game_326
label Game_327
label Game_326
    push argument 1
    push constant 105
    eq
    not
    if-goto Game_335
    push pointer 0
    call Game.showInventory 1
    pop temp 0
    push this 2
    call Battle.draw 1
    pop temp 0
    goto Game_334
label Game_335
label Game_334
    push argument 1
    push constant 99
    eq
    push this 9
    push constant 0
    eq
    and
    not
    if-goto Game_337
    push this 2
    call Battle.attemptCapture 1
    pop local 0
    push this 2
    call Battle.draw 1
    pop temp 0
    push local 0
    push constant 3
    eq
    not
    if-goto Game_339
    push pointer 0
    push constant 1
    neg
    push constant 1
    neg
    call Game.endBattle 3
    pop temp 0
    goto Game_338
label Game_339
label Game_338
    goto Game_336
label Game_337
label Game_336
    push argument 1
    push constant 102
    eq
    push this 9
    push constant 0
    eq
    and
    not
    if-goto Game_341
    push pointer 0
    push constant 0
    push constant 0
    call Game.endBattle 3
    pop temp 0
    goto Game_340
label Game_341
label Game_340
    push argument 1
    push constant 115
    eq
    not
    if-goto Game_343
    push this 2
    push constant 1
    neg
    call Battle.setInSwitchMenu 2
    pop temp 0
    push this 2
    call Battle.drawSwitchMenu 1
    pop temp 0
    goto Game_342
label Game_343
label Game_342
label Game_314
    push constant 0
    return
function Game.dispose 0
    push argument 0
    pop pointer 0
    push this 14
    push constant 0
    eq
    not
    not
    if-goto Game_345
    push this 14
    call StarterMenu.dispose 1
    pop temp 0
    goto Game_344
label Game_345
label Game_344
    push this 13
    push constant 0
    eq
    not
    not
    if-goto Game_347
    push this 13
    call Shop.dispose 1
    pop temp 0
    goto Game_346
label Game_347
label Game_346
    push this 11
    push constant 0
    eq
    not
    not
    if-goto Game_349
    push this 11
    call ItemMenu.dispose 1
    pop temp 0
    goto Game_348
label Game_349
label Game_348
    push this 8
    push constant 0
    eq
    not
    not
    if-goto Game_351
    push this 8
    call TeamMenu.dispose 1
    pop temp 0
    goto Game_350
label Game_351
label Game_350
    push this 2
    push constant 0
    eq
    not
    not
    if-goto Game_353
    push this 2
    call Battle.disposeWithoutEnemy 1
    pop temp 0
    goto Game_352
label Game_353
label Game_352
    push this 7
    push constant 0
    eq
    not
    not
    if-goto Game_355
    push this 7
    call Pokemon.dispose 1
    pop temp 0
    goto Game_354
label Game_355
label Game_354
    push this 12
    push constant 0
    eq
    not
    not
    if-goto Game_357
    push this 12
    call ItemPickupManager.dispose 1
    pop temp 0
    goto Game_356
label Game_357
label Game_356
    push this 4
    push constant 0
    eq
    not
    not
    if-goto Game_359
    push this 4
    call PnjManager.dispose 1
    pop temp 0
    goto Game_358
label Game_359
label Game_358
    push this 3
    push constant 0
    eq
    not
    not
    if-goto Game_361
    push this 3
    call Pokedex.dispose 1
    pop temp 0
    goto Game_360
label Game_361
label Game_360
    push this 10
    push constant 0
    eq
    not
    not
    if-goto Game_363
    push this 10
    call Inventory.dispose 1
    pop temp 0
    goto Game_362
label Game_363
label Game_362
    push this 1
    push constant 0
    eq
    not
    not
    if-goto Game_365
    push this 1
    call Player.dispose 1
    pop temp 0
    goto Game_364
label Game_365
label Game_364
    push this 0
    push constant 0
    eq
    not
    not
    if-goto Game_367
    push this 0
    call MapManager.dispose 1
    pop temp 0
    goto Game_366
label Game_367
label Game_366
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return