function Item.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function Item.getType 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Item.getQuantity 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Item.addQuantity 0
    push argument 0
    pop pointer 0
    push this 1
    push argument 1
    add
    pop this 1
    push constant 0
    return
function Item.useOne 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    gt
    not
    if-goto Item_1
    push this 1
    push constant 1
    sub
    pop this 1
    push constant 1
    neg
    return
    goto Item_0
label Item_1
label Item_0
    push constant 0
    return
function Item.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return