function ItemPickup.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push argument 2
    pop this 2
    push argument 3
    pop this 3
    push argument 4
    pop this 4
    push constant 0
    pop this 5
    push pointer 0
    return
function ItemPickup.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function ItemPickup.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function ItemPickup.getItemType 0
    push argument 0
    pop pointer 0
    push this 2
    return
function ItemPickup.getQuantity 0
    push argument 0
    pop pointer 0
    push this 3
    return
function ItemPickup.getMapId 0
    push argument 0
    pop pointer 0
    push this 4
    return
function ItemPickup.isCollected 0
    push argument 0
    pop pointer 0
    push this 5
    return
function ItemPickup.collect 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    pop this 5
    push constant 0
    return
function ItemPickup.isAtPosition 0
    push argument 0
    pop pointer 0
    push this 0
    push argument 1
    eq
    push this 1
    push argument 2
    eq
    and
    push this 5
    not
    and
    return
function ItemPickup.draw 1
    push argument 0
    pop pointer 0
    push this 5
    not
    if-goto ItemPickup_1
    push constant 0
    return
    goto ItemPickup_0
label ItemPickup_1
label ItemPickup_0
    push this 1
    push constant 16
    call Math.multiply 2
    push constant 32
    call Math.multiply 2
    push this 0
    push constant 16
    call Math.multiply 2
    push constant 16
    call Math.divide 2
    add
    pop local 0
    push local 0
    call Sprites.drawpokeballsauvage 1
    pop temp 0
    push constant 0
    return
function ItemPickup.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return