function Main.factorielle 1
push constant 1
pop local 0
label Main_0
push argument 0
push constant 1
gt
not
if-goto Main_1
push local 0
push argument 0
call Math.multiply 2
pop local 0
push argument 0
push constant 1
sub
pop argument 0
goto Main_0
label Main_1
push local 0
return